{% extends "baseHome.html.twig" %}

{% block elementAnimate %}
    <div class="mb-5 element-animate">
        <h1>About</h1>
        <p class="lead">Learn something new every day with skwela lorem ipsum dolor sit amet.</p>
        <!-- <p><a href="#" class="btn btn-primary">Sign up and get a 7-day free trial</a></p> -->
    </div>
{% endblock %}

{% block mainSection %}

{% endblock %}