{% extends 'adminTemplate/baseAdmin.html.twig' %}

{% block title %}Edit Roles{% endblock %}

{% block body %}
    <h1>Edit Roles</h1>

    {{ include('roles/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('roles_index') }}" class="btn btn-default btn-xs">
        <i class="fa fa-list-alt"></i>
        Retour à la liste des rôles
    </a>

    {{ include('roles/_delete_form.html.twig') }}
{% endblock %}
