{% extends 'adminTemplate/baseAdmin.html.twig' %}

{% block title %}Nouveau role{% endblock %}

{% block body %}
    <h1>Créer un nouveau rôle</h1>

    {{ include('roles/_form.html.twig') }}

    <a href="{{ path('roles_index') }}" class="btn btn-default btn-xs">
        <i class="fa fa-list-alt"></i>
        Retour à liste des rôles
    </a>
{% endblock %}
